button {
	width: 150px;
	height: 50px;
}

.info {
	border: 3px black solid;
	width: fit-content; 
	padding-left: 50px;
	padding-right: 50px;
	margin: 50px;
  border-radius: 7px;
}
h1{
  color:gray;
}
p{
  color: black
}
.shop {
	border: 5px black solid;
  border-radius: 25px;
	padding: 10px;
	padding-left: 50px;
	padding-right: 50px;
	width: fit-content; 
}

body { 
  background-repeat:repeat;
  object-fit: fill;
}
img{
  border: 1px white;
}
.but{
  border-radius: 25px;
  text-align: left;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(199, 198, 185, 0.185);
}
/* The navigation bar */
.navbar {
  position: fixed; /* Set the navbar to fixed position */
  bottom: 0; /* Position the navbar at the bottom of the page */
  left: 0;
  width: fit-content; /* Full width */
  border: 3px black solid;
  background-color: white;
}

/* Main content */
.main {
  margin-bottom: 30px; /* Add a bottom margin to avoid content overlay */
}
  border: 3px black solid;
  background-color: white;
}

/* Main content */
.main {
  margin-bottom: 30px; /* Add a bottom margin to avoid content overlay */
}
  align-items: center;
  min-height: 100vh;
  background-color: #F8F005;
}
